.contactSection {
	padding: 1rem;
	border: 1.75px solid #e2e2e2;
	border-radius: 1.5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.description {
		font-size: 1rem;
		overflow: hidden;
		color: rgba(0, 0, 0, 0.55);
	}
}
