.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
}
.form-btn {
  padding: 15px 0;
  margin: 0 0 10px 0;
  background-color: #65fcad;
  text-transform: uppercase;
  letter-spacing: .5px;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
}
.form-btn-error {
  background-color: #f26363;
}