.control {
    margin-bottom: 10px;
}
.control-error {
    color: #f26363;
    font-size: 12px;
}
.form-input, .form-textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: #e6e6e6;
}
.form-textarea {
    resize: none;
}